.header, .footer{
    min-height: 100px;
    text-align: center;
    padding-top: 2.5em;
    padding-bottom: 4em;
    padding-left: 1.4em;
    padding-right: 1.4em;
    background: #000;
    color: #fff;
    position: relative;
    margin-bottom: 3em;
    text-transform: uppercase;
}
.footer{
    margin-bottom: 0;
    margin-top: 3em;
    font-size: 1.7em;
}
.footer::before{
    content: '';
    position: absolute;
    height: 40px;
    background: #000;
    width: 100%;
    left: 0;
    top: -10px;
    transform: rotate(1.5deg) scaleY(1.4) scaleX(1.001);
    
}
.header::before{
    content: '';
    position: absolute;
    height: 40px;
    background: #000;
    width: 100%;
    left: 0;
    bottom: -10px;
    transform: rotate(1.5deg) scaleY(1.4) scaleX(1.001);
}

